[submodule "externals/protobuf"]
	path = externals/protobuf
	url = https://github.com/shadexternals/protobuf.git
[submodule "externals/json"]
	path = externals/json
	url = https://github.com/shadexternals/json.git
[submodule "externals/abseil-cpp"]
	path = externals/abseil-cpp
	url = https://github.com/abseil/abseil-cpp.git
[submodule "externals/fmt"]
	path = externals/fmt
	url = https://github.com/StevenMiller123/fmt-openorbis.git
