[submodule "externals/fmt"]
	path = externals/fmt
	url = https://github.com/StevenMiller123/fmt-openorbis.git
[submodule "externals/magic_enum"]
	path = externals/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "externals/abseil-cpp"]
	path = externals/abseil-cpp
	url = https://github.com/StevenMiller123/abseil-cpp-openorbis.git
[submodule "externals/protobuf"]
	path = externals/protobuf
	url = https://github.com/shadexternals/protobuf.git
[submodule "externals/json"]
	path = externals/json
	url = https://github.com/nlohmann/json.git
